[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynacl = {git = "https://github.com/bas-d/pynacl.git"}
requests = "*"

[requires]
python_version = "3.6"
