[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pynacl = {editable = true,path = "./../../pynacl"}
requests = "*"

[requires]
python_version = "3.7"
