[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
pynacl = {git = "https://github.com/bas-d/pynacl.git"}
requests = "*"
pykeepass = "*"
tldextract = "*"
click = "*"
importlib-resources = "*"
